<div *ngIf="!isLoading; else showLoading" class="container" (click)="toggleSound()">
  <div class="main" [style.flex]="layoutForInfo ? 80 : 1">
    <app-image-slider #slider [animation]="sliderConfig.animation" [slides]="slidesModel.slides"
      [autoPlayDuration]="sliderConfig.autoPlayDuration" [shuffle]="sliderConfig.shuffle" [slideTemplateRef]="slide">
    </app-image-slider>
    <ng-template #slide let-slide>
      <div [ngStyle]="{
          'background-size': 'cover',
          'background-image': slide.urlExp,
          'background-repeat': 'no-repeat',
          'background-position': slide.position,
          'width': '100%',
          'height': '100%'
        }">
      </div>
    </ng-template>
  </div>
  <div *ngIf="!hideNavigation" class="nav mat-drawer-container" [style.flex]="layoutForInfo ? 20 : 0">
    <nav-bar [slider]="slider" (showInfoChange)="onInfoChange($event)"></nav-bar>
  </div>
</div>
<ng-template #showLoading>
  <div class="loading-container mat-drawer-container">
    <div>
      <mat-spinner></mat-spinner>
      <h3>Getting images...</h3>
    </div>
  </div>
</ng-template>