<div class="container">
  
  <div class="main">
    <app-image-slider #slider animation="slide" [slides]="model.slides" [slideTemplateRef]="slide"></app-image-slider>
    <ng-template #slide let-slide>
      <div [ngStyle]="{
          'background-size': 'cover',
          'background-image': 'url(' + slide.url + ')',
          'background-repeat': 'no-repeat',
          'width': '100%',
          'height': '100%'
        }">
      </div>
    </ng-template>
  </div>
  
  <div class="nav mat-drawer-container">
    <div class="btn-group">
      <div class="nav-control">
        <button mat-fab aria-label="arrow forward" (click)="slider.select(slider.activeSlides.next)">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div class="nav-control">
        <button mat-fab aria-label="arrow back" (click)="slider.select(slider.activeSlides.previous)">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="nav-control">
        <button mat-fab aria-label="information">
          <mat-icon>info</mat-icon>
        </button>
      </div>
    </div>
  </div>
  
</div>