.container {
    height: 100%;
    display: flex;
}
  
.nav {
    width: 100px;
    flex: 0;
}

.main {
    flex: 1;  
}

.btn-group {
    margin-top: 40px;
}

.btn-group button {
    display: block;
}

.nav-control {
    padding: 8px;
}
