.nav-content {
    display: flex;
}

.info-content {
    //width: 64px;
    padding: 64px 8px;
    flex: 1;
}

.btn-group {
    margin-top: 40px;
    flex: 0;  
}

.btn-group button {
    display: block;
}

.nav-control {
    padding: 8px;
}